<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corporate Meet</title>
    <link rel="stylesheet" href="/dashboard.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body>


    <div class="container emp-profile">
        <div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <% if (user.picture) { %>
                            <img src="data:image/png;base64,<%= user.picture.toString('base64') %>" />
                            <% } %>
                                <form action="/uploadPhoto" method="POST" enctype="multipart/form-data" class="file_pos">
                                    <div class="file btn btn-lg btn-primary">
                                        Change Photo
                                        <input type="file" id="profilePic" name="profilePic" />
                                    </div>
                                </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>
                            <%= user.name %>
                        </h5>
                        <h6>
                            <%= user.designation %>
                        </h6>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Previous meet</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="button" class="profile-edit-btn" name="btnAddMore" value="Change Password" id="change-pswd" data-toggle="modal" data-target="#targetModal" />
                    <div class="modal fade" id="targetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Change password</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                                </div>
                                <form id="passwordForm" action="/changePassword" method="POST">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <input class="form-control" type="password" name="newPassword" id="newPassword" placeholder="New password">
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm new password">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-work">
                        <p>What I Share</p>
                        <% user.skills.forEach(function(skill){ %>
                            <a href="">
                                <%= skill %>
                                    </li><br/>
                                    <% }); %>

                    </div>
                    <div class="profile-work">
                        <p>What I Care</p>
                        <a href="/find_match">Choose one</a>
                    </div>
                </div>
                <div class="col-md-8 extra">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <%= user.email %>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Phone</label>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <%= user.phone %>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Location</label>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <%= user.location %>
                                    </p>
                                </div>
                            </div>

                        </div>
                        <form action="/previousFeedback" method="post" class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Feedback on previous meet</label>
                                </div>
                                <div class="col-md-6">
                                    <textarea required name="message" rows="5" cols="25">The last meet was </textarea>
                                    <div class="form-button mt-3">
                                        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

            <div class="col-md-2">
                <a href="/edit_profile" class="profile-edit-btn edit-btn" name="btnAddMore">Edit profile</a>
                <a href="/logout" class="profile-edit-btn" name="btnAddMore">Logout</a>
            </div>
        </div>
    </div>
    <!-- script to change photo -->
    <script>
        document.getElementById("profilePic").addEventListener("change", () => {
            document.querySelector('.file_pos').submit();
        })
    </script>
    <!-- script to change password -->
    <script>
        document.getElementById("passwordForm").addEventListener("submit", (e) => {
            e.preventDefault();
            let newPassword = document.getElementById("newPassword").value;
            let confirmPassword = document.getElementById("confirmPassword").value;
            if (!newPassword || !confirmPassword) {
                alert("Please fill all the fields")
            } else if (newPassword !== confirmPassword) {
                alert("Fields do not match");
            } else {
                document.getElementById("passwordForm").submit()
            }
        })
    </script>


</body>

</html>